
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    
}


body {
    background-color: #efefef;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background : linear-gradient(45deg, rgb(179, 179, 242), rgb(185, 235, 212));
    padding: 25px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(89, 89, 89, 0.2);
    
    
}

h1{
    width: 160px;
    margin-right: 45px;
    padding:10px;
    
}

.navLeft{
    display: flex;
    align-items: center;
}

.navRight{
    display: flex;
    align-items: center;
}

.navLeft ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.navLeft ul a{
    color: black;
}

.navUserIcon img{
    width: 40px;
    border-radius: 10%;
    cursor: pointer;
}
.navUserIcon{
    margin-left: 30px;
}
.searchBox{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;

}
.searchBox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.leftSidebar{
    flex-basis: 24%;
    position: sticky;
    top: 110px;
    align-self: flex-start;
    margin-top: 30px;
    
}
.rightSidebar{
    flex-basis: 25%;
    position: sticky;
    top: 110px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 3px 3px 3px rgba(89, 89, 89, 0.2);
}
.mainContent{
    flex-basis: 47%;

}
.miniProfile {
    flex-basis: 25%;
    position: sticky;
    top: 110px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 3px 3px 3px rgba(89, 89, 89, 0.2);
    display: flex;
    align-items: flex-start;
}

.miniProfile img{
    width: 80px;
    border-radius: 10%;
    margin-right: 15px;
    
}
.miniProfile h3{
    font-size: 25px;
    font-weight: 400;
}
.miniProfile p {
    font-size: 14px;
}





.impLinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width:fit-content
}
.impLinks a i{
    width: 25px;
    margin-right: 15px;
}
.impLinks a:last-child{
    color: #a6c3eb;

}
.impLinks{
    border-bottom: 2px solid #ccc;
}
.sidebarTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebarTitle h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebarTitle a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
.onlineList{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #626262;

}
.onlineList a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    color: #626262;
    
    
}
.onlineList .online img{
    width: 40px;
    border-radius: 10%;
    margin-right: 15px;
}
.onlineList .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.user{
    margin-top: 20px;
}
.writePostContainer{
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    box-shadow: 1px 3px 3px 3px rgba(89, 89, 89, 0.2);
}
.postInputContainer button{
    float: right;
    margin-left: 50%;
    border: none;
    background-color: #efefef;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    padding: 12px 20px;
    color:#626262;
    font-weight: 500;

    
}
button:hover{
    box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.userProfile{
    display: flex;
    align-items: center;
    
}
.userProfile img{
    width: 45px;
    border-radius: 10%;
    margin-right: 10px;
}
.userProfile a{
    margin-bottom: -5px;
    font-weight: 500;
    text-decoration: none;
    color: #626262;
}

.userProfile span{
    font-size: 13px;
    color: #9a9a9a;
}

.postInputContainer{
    padding-left: 55px;
    padding-top: 20px;
    
}
.postInputContainer textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.addPostLinks{
    display: flex;
    margin-top: 10px;
}
.addPostLinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.addPostLinks a i{
    width: 20px;
    margin-right: 5px;
}




.postsContainer{
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin-top: 20px;
    box-shadow: 1px 3px 3px 3px rgba(89, 89, 89, 0.2);
}


.postTextContainer{
    padding-left: 55px;
    padding-top: 20px;
    
}
.postTextContainer .text{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    padding-bottom: 15px;
    
}

.postInt{
    display: flex;
    margin-top: 10px;
   
    
}
.postInt a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.postInt a i{
    width: 20px;
    margin-right: 5px;
}

/* -------- profile page ------ */

.profileContainer{
    padding: 20px 15%;
    color: #626262;
}
.coverImg{
    width: 100%;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profileDetails{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pdRow{
    display: flex;
    align-items: flex-start;
}

.pdImage{
    width: 100px;
    border-radius: 6px;
    border: none;
    outline: none;
}


.pdRow div h3{
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
}
.pdRow div p{
    font-size: 20px;
    margin-left: 20px;
}
.pdRight button{
    background: #86ceb8;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pdRight button i{
    height: 15px;
    margin-right: 10px;
}
.pdRight button:first-child{
    background: #e4e6eb;
    color: #000;
}
.pdRight{
    text-align: right;
    
}
.pdRight a{
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    text-decoration: none;
    color: #000;
    margin-top: 50px;
}

.pdRight a i{
    width: 20px;

}
.profileInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

}
.infoCol{
    flex-basis: 33%;
}

.postCol{
    flex-basis: 65%;
}
.profileIntro{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profileIntro h3{
    font-weight: 600;
}
.aboutMeText{
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
}
.profileIntro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}  
.profileInfo ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profileInfo ul li i{
    width: 25px;
    margin-right: 10px;
}
.titleBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleBox a{
    text-decoration: none;
    color: #a6c3eb;
    font-size: 14px;
}
.followingBox{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.followingBox div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}
.profileInfo p{
    font-size: 14px;
}
.followingBox div{
    position: relative;
}

.followingBox p{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #626262;
}
.settingsMenu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 275px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}


.settingText {
    position: relative;
    
}

.settingMenuHeight {
    max-height: 450px;
}

.settingsMenuInner {
    padding: 20px;
}


.settingHeader {
    padding: 20px, 20px,20px, 0px;
    font-size: 16px;
}

.settingsInput {
    font-size: 14px;
    float: left;
}


.submitB {
    float: left;
    padding: 4px;
    margin-right: 20px;
    margin-top: 10px;
}



