header {

    background : linear-gradient(45deg, rgb(101, 101, 241), rgb(185, 235, 212));
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 1%;
    padding: 20px 20px 60px 20px;
    float:none;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(55, 53, 53, 0.5);
}

button {
    background-color: lightgray;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 0px;
    font-weight: bold;
    transition: background-color 1s;
    transition: box-shadow 200ms;
    vertical-align: top;
    float: right;

}

advancedDesign {
    --color-tertiary: #ffcc00;
    --color-quaternary: #ff6600;
}

.advancedDesign header {
    background: linear-gradient(45deg, var(--color-tertiary), var(--color-quaternary));
    transition: background 1.5s;
}

.advancedDesign header:hover {
    background: linear-gradient(45deg, var(--color-quaternary), var(--color-tertiary));
}

.advancedDesign button {
    background-image: radial-gradient(circle, var(--color-tertiary), var(--color-quaternary));
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.advancedDesign button:hover {
    background-image: radial-gradient(circle, var(--color-quaternary), var(--color-tertiary));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}