
body {
    min-width: 880px;
}

.alex {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    object-fit: cover;
    float: left;
}

.imgstock {
    margin-left: 1px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    object-fit: cover;
    float: left;
}
header {
    background : linear-gradient(45deg, rgb(101, 101, 241), rgb(185, 235, 212));
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 1%;
    padding: 20px 20px 60px 20px;
    float:none;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(55, 53, 53, 0.5);



    
}
.menu {
    float: right;
    padding-left: 20%;
}

ul {
    list-style-type: none;
    display: inline;
    padding: 0px 5px;
    margin: 1%
}

em {
    color: blueviolet;
    font-style: normal;
}

h2 {
    font-size: medium;
}

button {
    background-color: lightgray;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 0px;
    font-weight: bold;
    transition: background-color 1s;
    transition: box-shadow 200ms;
    vertical-align: top;

}

button:hover {
    background-color: rgb(90, 108, 156);
    box-shadow: 10px 10px 10px rgba(136, 135, 135, 0.5);

}
a{
    text-decoration: none;
    font-size: 22px;
    color: black; 
    transition: coclor 0.3s ease; 

}
a:hover {
    color: blueviolet;
    text-decoration: underline;
}

#online {
    background-color: lightgray;
    float:none;
    margin-right: 27% ;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px ;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(206, 205, 205, 0.5);
    
}


.first:active {
    opacity: 0.5;
}
.miniProfile {
    border-style:none;
    float: right;
    margin-right: 1%;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(234, 232, 232);
    box-shadow: 10px 10px 10px rgb(55, 53, 53, 0.5);
    font-family: Arial, Helvetica, sans-serif;

}
#count {
    margin-top: 5px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
#numF {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    float: none;
}

h3 {
    font: arial;
}

.followers {
    background-color: rgb(108, 140, 211);
    display: inline-block;
    border: none;
    color: rgb(12, 12, 12);
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-right: 6px;
    margin-top: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    transition: background-color 1s;
}

.second:hover {
    background-color: rgb(90, 107, 156);
    box-shadow: 10px 10px 10px rgb(55, 53, 53, 0.5);
}

.second:active {
    opacity: 0.5;
}
.miniProfile {
    border-style:none;
    float: right;
    margin-right: 1%;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(234, 232, 232);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.miniProfile h1 {
    font-size: 30px;
}

  
.title {
    color: grey;
    font-size: 18px;
}
  
  #contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } 
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .search {
    background-color: rgb(154, 169, 213);
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 27%;
    padding: 15px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
  }

  #sButton {
    background-color: rgb(222, 222, 222);
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    width: 60px
  }

  #lollo1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    padding: 20px;
  }